<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Detail of person:</h1>
<ul>
    <li><p th:text="'NAME: ' + ${person.firstName}">name: </p></li>
    <li><p th:text="'SURNAME: ' + ${person.lastName}">surname: </p></li>
</ul>

<a href="edit?id=10" th:href="@{edit(id=${person.id})}"> edit </a> <br>
<a href="delete?id=10" th:href="@{delete(id=${person.id})}"> delete </a> <br>
<a href="list"> Show the list </a>

</body>
</html>